html{
   scroll-behavior: smooth;
}
*{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat',sans-serif;
}
.container{
   width: 1296px;
   margin: 0 auto;
}

/* hero part start */
#hero{
   width: 100%;
   background: #eff4fd;
}
nav{
   display: flex;
   width: 85%;
   margin: auto;
   align-items: center;
   justify-content: space-between;
}
nav img{
   align-items: center;
}
.navbar a{
   display: inline-block;
   margin: 0 20px;
   text-transform: uppercase;
   font-weight: 700;
   color: #000;
   text-decoration: none;
}
.navbar a:hover{
   color: red;
   cursor: pointer;
}
/* hero part end */

/* banner part start */
.banner{
   display: flex;
}
.details{
   margin-left: 8%;
   margin-top: 13%;
}
.details h1{
   font-size: 50px;
   color: #212121;
   margin-bottom: 20px;
}
span{
   color: red;
}
.details p{
   color: #555;
   line-height: 22px;
}
.details a{
   background: #212121;
   padding: 10px 18px;
   text-decoration: none;
   font-weight: bold;
   color: #fff;
   display: inline-block;
   margin: 30px 0;
   border-radius: 5px
   ;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.details a:hover{
   background: red;
   color: #000;
}
.myself{
   width: 70%;
   position: relative;
   top: 330px;
}
.myself img{
   height: 100%;
   position: absolute;
   margin-left: 160px;
   left: 50%;
   bottom: 0;
   transition: bottom 1s, left 1s;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   -webkit-transition: bottom 1s, left 1s;
   -moz-transition: bottom 1s, left 1s;
   -ms-transition: bottom 1s, left 1s;
   -o-transition: bottom 1s, left 1s;
}
.myself .shape{
   width: 800px;
    height: 800px;
}
.myself .fahim{
   width: 600px;
   height: 600px;
   margin-bottom: 110px;
}
.myself:hover .shape{
bottom: 40px;
}
.myself:hover .fahim{
 left: 45%; 
}
/* banner part end */

/* about part start */
#about {
   margin-top: 330px;
   padding: 50px 0;
}

.about_head h3 {
   padding-top: 90px;
   font-family: Dancing Script;
   font-size: 24px;
   font-weight: 700;
   color: #333333;
}

.about_head {
   text-align: center;
}

.about_head h2 {
   padding-top: 24px;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
   position: relative;
}

.about_head h2::after {
   position: absolute;
   content: '';
   top: 90px;
   left: 610px;
   height: 2px;
   width: 60px;
   background-color: red;
}
.about_myself{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about_myself .about_detail p{
   width: 565px;
   line-height: 26px;
   font-family: Roboto;
   font-size: 18px;
   font-weight: 700;
   color: #555;
   margin-bottom: 105px;
}
.about_detail{
   margin-top: 170px;
}
.social_icon{
   margin-top: -35px;
   margin-left: -10px;
}
.social_icon .icon{
text-align: start;
}
.social_icon .icon i{
   font-size: 30px;
   padding: 0 15px;
   color: #000;
}
.social_icon .icon i:hover{
  color: red;
}
.about_img{
   margin-top: 100px;
}
/* about part end */

/* project part start */
#project {
   margin-top: 60px;
   padding: 50px 0;
}
.project_head h3 {
   padding-top: 90px;
   font-family: Dancing Script;
   font-size: 24px;
   font-weight: 700;
   color: #333333;
}
.project_head {
   text-align: center;
}
.project_head h2 {
   padding-top: 24px;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
   position: relative;
}
.project_head h2::after {
   position: absolute;
   content: '';
   top: 90px;
   left: 610px;
   height: 2px;
   width: 60px;
   background-color: red;
}
.project_btn{
   padding-top: 100px;
}
.project_btn ul{
   text-align: center;
}
.project_btn ul li{
   display: inline-block;
   margin: 0 4px;
}
.project_btn ul li a{
   text-decoration: none;
   text-transform: capitalize;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 700;
   color: black;
   padding: 10px 25px;
   border: 2px solid #ebebeb;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}
.project_btn ul li a:hover{
   background-color: red;
   color: #000;
   cursor: pointer;
}
.project_main{
   padding-top: 40px;
}
.project_top,
.project_bottom{
   display: flex;
}
.project_item{
   width: 30.33%;
   margin: 15px 15px;
}
.project_img{
   position: relative;
}
.project_overlay{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
}
.project_inner:hover .project_overlay{
   opacity: 1;
}
.project_overlay .icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}
.project_overlay .icon i{
   color: #fff;
   font-size: 24px;
   margin: 0 5px;
}
.project_overlay .icon i:hover{
   color: #c7b299;
}
.project_img img{
   width: 100%;
}
.project_text{
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   background-color: #fbfaf8;
   position: relative;
}
.project_text::after{
   position: absolute;
   content: '';
   top: 0;
   left: 20px;
   height: 20px;
   width: 20px;
   background-color: #fbfaf8;
   transform: translateY(-50%) rotate(45deg);
   -webkit-transform: translateY(-50%) rotate(45deg);
   -moz-transform: translateY(-50%) rotate(45deg);
   -ms-transform: translateY(-50%) rotate(45deg);
   -o-transform: translateY(-50%) rotate(45deg);
}
.project_inner:hover .project_text,
.project_inner:hover .project_text::after{
   background-color: #B20000;
   cursor: pointer;
}
.project_text h3{
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   font-weight: 400;
   color: #555;
}
.project_text p{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 200;
}
.project_inner:hover .project_text h3{
   color: #fff;
}
.project_inner:hover .project_text p{
   color: #000;
}
.project_load_btn{
   text-align: center;
   padding-top: 40px;
}
.project_load_btn a{
   padding: 18px 44px;
   background-color: #000;
   text-transform: uppercase;
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 700;
   border-radius: 4px;
   text-decoration: none;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}
.project_load_btn a:hover{
   background-color: #B20000;
   color: #000;
}
/* project part end */

/* skill part start */
#skills {
   margin: 106px 0;
}

.skill_head {
   text-align: center;
   padding-bottom: 64px;
}

.skill_text h2 {
   font-family: Dancing Script;
   font-size: 24px;
   font-weight: 700;
   color: #333333;
}

.skill_text h1 {
   padding-top: 24px;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
   position: relative;
}

.skill_text h1::after {
   position: absolute;
   content: '';
   top: 90px;
   left: 615px;
   height: 2px;
   width: 60px;
   background-color: red;
}

.skill_main {
   margin-top: 60px;
}

.skill_top,
.skill_btom{
   display: flex;
}
.skill_item {
   padding-left: 50px;
   position: relative;
}

.skill_item i {
   position: absolute;
   top: 15px;
   left: 10px;
   color: red;
   padding: 0 50px;
}

.skill_item h3 {
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 10px;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
}

.skill_item p {
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   color: #555;
   padding: 0 50px;
}

.skill_top {
   padding-bottom: 50px;
}

.skill_btom {
   padding-top: 50px;
   border-top: 2px solid #e5e5e5;
}
/* skill part end */

/* hire part start */
#hire {
   margin-top: 60px;
   padding: 50px 0;
}
.hire_head {
   text-align: center;
}
.hire_head h3 {
   padding-top: 90px;
   font-family: Dancing Script;
   font-size: 24px;
   font-weight: 700;
   color: #333333;
}
.hire_head h2 {
   padding-top: 24px;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
   position: relative;
}
.hire_head h2::after {
   position: absolute;
   content: '';
   top: 90px;
   left: 610px;
   height: 2px;
   width: 60px;
   background-color: red;
}
.hire_main{
   display: flex;
   margin-top: 100px;
}
.hire_img{
   margin-top: 40px;
   margin-left: 70px;
}
.hire_text{
   margin-top: 80px;
   margin-left: 80px;
}
.hire_text h2{
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
}
.hire_text p{
   width: 670px;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #8c8c8c;
   line-height: 24px;
   margin-top: 10px;
}
.hire_icon{
   margin-left: 30px;
   margin-top: 35px;
}
.hire_icon .special{
   color: red;
}
.hire_icon ul li{
   padding: 6px 0;
   list-style: none;
}
.hire_icon ul li i{
   padding-right: 30px;
   color: #555;
}
.hire_icon ul li span{
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #8c8c8c;
}
.hire_icon .icon{
   margin-left: 88%;
   margin-top: -26px;
}
.hire_icon .icon a{
   color: #333333;
   font-size: 20px;
   padding: 20px 0;
}
.hire_icon .icon a:hover{
   color: red;
}
/* hire part start */

/* contact part start */
#contact {
   margin-top: 60px;
   padding: 50px 0px;
   
}
.contact_head {
   text-align: center;
}
.contact_head h3 {
   padding-top: 90px;
   font-family: Dancing Script;
   font-size: 24px;
   font-weight: 700;
   color: #333333;
}
.contact_head h2 {
   padding-top: 24px;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   color: #333333;
   text-transform: uppercase;
   position: relative;
}
.contact_head h2::after {
   position: absolute;
   content: '';
   top: 90px;
   left: 610px;
   height: 2px;
   width: 60px;
   background-color: red;
}
.contact_main{
 margin-top: 40px;
 padding: 50px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.box {
   position: relative;
}
.box i{
   position: absolute;
   top: 2px;
   left: -30px;
   font-size: 20px;
   color: #000;
}
.box i:hover{
   cursor: pointer;
   color: red;
}
.box h2{
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 400;
}
.contact_form{
   width: 40%;
   padding: 40px;
   background: #e5e5e5;
}
.contact_form h2{
   font-size: 30px;
   color: #333;
   font-weight: 500;
}
.contact_form .inputBox{
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contact_form .inputBox input,
.contact_form .inputBox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
.contact_form .inputBox span{
   position: absolute;
   left: 0;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s;
   color: #666;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}
.contact_form .inputBox input:focus ~ span,
.contact_form .inputBox input:valid ~ span,
.contact_form .inputBox textarea:focus ~ span,
.contact_form .inputBox textarea:valid ~ span
{
   color: #e91e63;
   font-size: 12px;
   transform: translateY(-20px);
   -webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
   -ms-transform: translateY(-20px);
   -o-transform: translateY(-20px);
}
.contact_form .inputBox input[type="Submit"]
{
   width: 100px;
   background: #00bcd4;
   color: #fff;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
}
/* contact part start */

